* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #b3b7bb;
}

nav {
    background-color: black;
    margin-bottom: 20px ;
}

#download {
    position: absolute;
    font-size: 15px;
    line-height: 20px ;
    right: 20px;
    width: 200px;
    top: 5px;
}

.choose_graphics, footer {
    text-align: center;
    color: white;
    line-height: 50px;
    font-size: 25px;
}

.white_line {
    height: 2px;
    background-color: white;
}

.choose_image {
    padding: 0 calc(12.5% - 140px);
    margin: 10px 0 30px;
}

.choose_image a img {
    width: 280px;
}

#upload {
    height: 100%;
    position: absolute;
    opacity: 0;
}

#input_upload {
    width: 280px;
}

input[type="file"] {
    cursor: pointer;
}

canvas {
    box-sizing: border-box;
    border: 3px solid black;
    max-width: 100%;
    max-height: 100%;
}

.form_img {
    color: white;
    padding: 15px 30px;
    line-height: 40px;
    font-size: 16px;
    background-color: black;
    width: 100%;
    height: 100%;
}

.form_img legend {
    font-size: 25px;
}

.form_img button {
    width: 30%;
}

#clear {
    float: right;
}

.form_img .other_properties, .transparency, .choose_color, .drawing {
    border: 2px solid white;
    padding: 20px;
}

#refresh {
    margin-left: 20px;
}

#reset {
    float: right;
    margin-right: 20px;
}

#reset, #refresh {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 20px;
}

.draw_something {
    margin-top: 10px;
}

footer {
    background-color: black;
    margin: 30px 0 20px;
    font-size: 20px;
}

@media (max-width: 1199px) {
    .row .choose_image {
        padding: 0 calc(25% - 140px);
    }

    #download {
        width: 100px;
    }
}

@media (max-width: 750px) {
    .choose_image a img {
        width: 200px;
    }
    #input_upload {
        width: 200px;
    }

    .row .choose_image {
        padding: 0 calc(25% - 100px);
    }
}